<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Dashboard — TaskFlow</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>

<body>

<nav class="blue darken-2">
  <div class="nav-wrapper container">
    <a class="brand-logo">TaskFlow</a>

    <ul id="nav-mobile" class="right">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<main class="container">
  <h4>Welcome, <%= user.fullname %> 👋</h4>
  <p>Your username: <strong><%= user.username %></strong></p>
  <p>Your email: <strong><%= user.email %></strong></p>

  <div class="card-panel teal lighten-4">
    <h5>Your Dashboard</h5>
    <p>Here we will add your tasks & CRUD in Level 4+</p>
  </div>
</main>

</body>
</html>

